@import "tailwindcss";

:root {
  --background: #f8f8ff;
  --foreground: #1c1c1c;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-afacad), Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes shine {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
.animate-shine {
  animation: shine 1.5s infinite;
}
